<div>
  <h1>{{title}}</h1>

  <ul>
    <li>Vendor: {{jvmStatic.jvmVendor}}</li>
    <li>Nb processors: {{jvmStatic.availableProcessors}}</li>
    <li>OS arch: {{jvmStatic.OSArch}}</li>
    <li>JVM version: {{jvmStatic.jvmVersion}}</li>
    <li>JVM name: {{jvmStatic.jvmName}}</li>
    <li>OS version: {{jvmStatic.OSVersion}}</li>
    <li>OS name: {{jvmStatic.OSName}}</li>
  </ul>

  <ul>
    <li>Up time: {{jvmDynamic.upTime}}</li>
    <li>System load average: {{jvmDynamic.systemLoadAverage}}</li>
    <li>Current memory usage: {{jvmDynamic.currentMemoryUsage}}</li>
    <li>Now: {{jvmDynamic.now | date}}</li>
    <li>Memory usage percentage: {{jvmDynamic.memoryUsagePercentage}}</li>
    <li>Thread count: {{jvmDynamic.threadCount}}</li>
    <li>Total threads cpu time: {{jvmDynamic.totalThreadsCpuTime}}</li>
    <li>Start time: {{jvmDynamic.startTime | date}}</li>
  </ul>

  <ul>
    <li>Created by: {{plateform.createdBy}}</li>
    <li>Previous version: {{plateform.previousVersion}}</li>
    <li>Creation date: {{plateform.created | date}}</li>
    <li>Initial version: {{plateform.initialVersion}}</li>
    <li>State: {{plateform.state}}</li>
    <li>Version: {{plateform.version}}</li>
  </ul>

  <ul>
    <li *ngFor="let property of properties">{{property.name}}: {{property.value}}</li>
  </ul>

  <ul *ngFor="let tenant of tenants">
    <li>Name: {{tenant.name}}</li>
    <li>Password: {{tenant.password}}</li>
    <li>Icon: {{tenant.icon}}</li>
    <li>Description: {{tenant.description}}</li>
    <li>Id: {{tenant.id}}</li>
    <li>State: {{tenant.state}}</li>
    <li>Creation date: {{tenant.creation | date}}</li>
    <li>Username: {{tenant.username}}</li>
  </ul>

  <ul>
    <li>Start Date: {{license.licenseStartDate}}</li>
    <li>Duration: {{license.duration}}</li>
    <li>Expiration Date: {{license.licenseExpirationDate | date}}</li>
    <li>Edition: {{license.edition}}</li>
    <li>Subscription start period: {{license.subscriptionStartPeriod}}</li>
    <li>Subscription end period: {{license.subscriptionEndPeriod}}</li>
    <li>Case counter limit: {{license.caseCounterLimit}}</li>
    <li>Case counter: {{license.caseCounter}}</li>
    <li>Number of cpu cores: {{license.numberOfCPUCores}}</li>
    <li>Licence mode: {{license.licenseMode}}</li>
    
  </ul>
</div>